In [158]:
from scipy import stats
import pandas as pd

dfheart = pd.read_csv('heart.csv')
dfdata = pd.read_csv('data.csv', na_values = "?").fillna("0")
old_names = list(dfdata.columns)
new_names = list(dfheart.columns)

dfdata.columns = new_names

df = dfdata.append(dfheart, ignore_index=True)

In [159]:
df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,28,1,2,130,132,0,2,185,0,0.0,0,0,0,0
1,29,1,2,120,243,0,0,160,0,0.0,0,0,0,0
2,29,1,2,140,0,0,0,170,0,0.0,0,0,0,0
3,30,0,1,170,237,0,1,170,0,0.0,0,0,6,0
4,31,0,2,100,219,0,1,150,0,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
593,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
594,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
595,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
596,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [161]:
dfheart_pred = pd.read_csv(' Heart_Disease_Prediction.csv')
dfheart_pred.columns = new_names

df = df.append(dfheart_pred, ignore_index=True)
df.replace("Absence", "0",inplace = True)
df.replace("Presence", "1",inplace = True)

In [162]:
df.drop_duplicates()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,28,1,2,130,132,0,2,185,0,0.0,0,0,0,0
1,29,1,2,120,243,0,0,160,0,0.0,0,0,0,0
2,29,1,2,140,0,0,0,170,0,0.0,0,0,0,0
3,30,0,1,170,237,0,1,170,0,0.0,0,0,6,0
4,31,0,2,100,219,0,1,150,0,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
860,52,1,3,172,199,1,0,162,0,0.5,1,0,7,0
861,44,1,2,120,263,0,0,173,0,0.0,1,0,7,0
862,56,0,2,140,294,0,2,153,0,1.3,2,0,3,0
863,57,1,4,140,192,0,0,148,0,0.4,2,0,6,0
864,67,1,4,160,286,0,2,108,1,1.5,2,3,3,1

In [163]:
df.to_csv("FPdataset.csv")